.dk-blue {
  background-color: #4f7fa9;
  width: 100%;
}

.row.lt-blue {
  background-color: #628db2;
}

.huge.header,
a {
  color: white;
}

.main.ui.huge.header {
  width: 100%;
}

.ui.secondary.menu {
  margin-top: 5px;
  margin-right: 70px;
}

.btn-text,
.mail.icon {
  color: black;
}

.home {
  color: black;
}
